<div class="container mt-5">
    <div class="justify-content-center mb-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar ..."
                                   [(ngModel)]="filter.keywords" (keydown.enter)="search()">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-primary" type="button" (click)="search()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!collapsed else open" class="mt-3">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="comensales">Comensales</label>
                        <select class="form-control" id="comensales" [(ngModel)]="filter.dinners">
                            <option [value]="1">1</option>
                            <option [value]="2">2</option>
                            <option [value]="3">3</option>
                            <option [value]="4">4</option>
                            <option [value]="5">5</option>
                            <option [value]="6">6</option>
                            <option [value]="7">7</option>
                            <option [value]="8">8</option>
                            <option [value]="9">9</option>
                            <option [value]="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="dificultad">Dificultad</label>
                        <select class="form-control" id="dificultad" [(ngModel)]="filter.difficulty">
                            <option [value]="1">Muy Fácil</option>
                            <option [value]="2">Fácil</option>
                            <option [value]="3">Media</option>
                            <option [value]="4">Difícil</option>
                            <option [value]="5">Muy Difícil</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group">
                    <label for="time">Tiempo Máximo</label>
                    <ngb-timepicker id="time" [(ngModel)]="filter.max_time" [spinners]="false" [hourStep]="1"
                                    [minuteStep]="15"></ngb-timepicker>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-4">
                    <label>Última modificación</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input id="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromDate" ngbDatepicker
                                   #d1="ngbDatepicker" [maxDate]="today" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="d1.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <label>Hasta:</label>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="toDate" ngbDatepicker
                                   #d2="ngbDatepicker" [maxDate]="today" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="d2.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button (click)="collapsed = true" class="btn btn-primary">
                    Menos Filtros
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="found.total" class="row justify-content-center mb-3">
        <ngb-pagination [collectionSize]="found.total" [(page)]="page" (pageChange)="search()"></ngb-pagination>
    </div>

    <div *ngIf="found.total" class="row justify-content-center">
        <h4 class="text-success">
            Encontrados {{found.total}} elementos
        </h4>
    </div>

    <div *ngIf="!found.total" class="row justify-content-center">
        <h4 class="text-danger">
            No se encontró ningun elemento
        </h4>
    </div>

    <div class="mt-3" *ngFor="let el of found.hits; trackBy:trackById">
        <div class="card">
            <div class="card-title mx-3 mt-3 mb-0">
                <div class="d-flex">
                    <h3 class="text-primary text-uppercase"><a [href]="el._source.url" target="_blank">{{el._source.name}}</a></h3>
                    <span class="ml-auto mr-0"><b>Score:</b> {{el._score | number:'2.6-6'}}</span>
                </div>
            </div>

            <div class="card-body mx-3">
                <div class="row ml-0">
                    <h5>Descripción: </h5>
                    <div class="ml-2">
                        <div class="badge mx-1 p-2" [ngClass]="difficultyClass(el)"><b>Dificultad: </b>{{difficulty(el)}}</div>
                        <div class="badge badge-secondary mx-1 p-2"><b>Comensales: </b>{{el._source.dinners}}</div>
                        <div class="badge badge-secondary mx-1 p-2"><b>Preparación: </b>{{el._source.time}}min</div>
                    </div>
                </div>
                <p class="description">{{el._source.description}}</p>

                <hr>

                <div class="row mt-2">
                    <div class="col-5">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let ingredient of el._source.ingredients">
                                {{ingredient}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-7">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let step of el._source.steps">
                                {{step}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="badge mx-1 p-2" [ngClass]="difficultyClass(el)">{{difficulty(el)}}</div>
                <div *ngFor="let cat of categories(el)" class="badge badge-dark mx-1 p-2">
                    {{cat | titlecase}}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="found.total" class="row justify-content-center mt-3">
        <ngb-pagination [collectionSize]="found.total" [(page)]="page" (pageChange)="search()"></ngb-pagination>
    </div>

</div>


<ng-template #t let-date let-focused="focused">
  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<ng-template #open>
    <div class="text-dark text-center mt-3">
        <button (click)="collapsed = false" class="btn btn-primary">
            Más Filtros
        </button>
    </div>
</ng-template>
